* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #23252C;
}

.card {
    max-width: 317px;
    background-color: #1A1B21;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    padding-bottom: 6px;
    margin-bottom: 0px;
}

span {
    font-weight: 400;
    font-size: 12.8px;
    color: #F3BF99;
    padding-bottom: 8.81px;
}

.link-web {
    font-weight: 400;
    font-size: 10.24px;
    color: #F5F5F5;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 33px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn {
    background-color: #FFFFFF;
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 34px;
    border: none;
    border-radius: 6px;
}

.linkedin {
    background-color: #5093E2;
    margin-left: 17px;
}


.linkedin img {
    background-color: #5093E2;
}


.btn img {
    width: 16px;
}

.mail p {
    padding-left: 8px;
    color: #374151;
    font-size: 14px;
}

.linkedin p {
    color: white;
    padding-left: 2px;
    font-size: 14px;
}

.info-text {
    max-width: 248px;
    padding-left: 30px;
    padding-right: 12px;
    padding-bottom: 40px;
    line-height: 15px;
}

.info-text h2 {
    font-weight: 700;
    color: #F5F5F5;
    font-size: 16px;
}

.info-text p {
    color: #DCDCDC;
    font-size: 10px;
}


.social-btn {
    background-color: #161619;
    height: 64px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
}

.btn-icon {
    background-color: #161619;
    border: none;
    padding: 12px;
}

.img-btn {
    border-radius: 0 0 0 0;
    background-color: #161619;
}



